python-dotenv==1.0.0
langchain==0.1.9
langchain-community==0.0.27
langchain-openai==0.0.6
langchain-text-splitters==0.0.1
openai==1.31.0
pandas==2.2.0
crawl4ai==0.4.5
tqdm==4.66.2
pytz==2024.1
autorag==0.3.13
faiss-cpu==1.7.4
llama-index==0.10.15
llama-index-llms-openai==0.1.14
transformers==4.37.0
sentence-transformers==2.5.0
accelerate==0.26.1
matplotlib==3.8.2
pyarrow==14.0.2
pydantic==2.6.1
tiktoken==0.5.2
torch==2.1.2
numpy==1.24.4
