body {
  background-color: #eee;
  padding: 4px;
  margin: 0;
}
.Paper {
  background-color: #fff;
  border: 1px solid black;
  margin: 1em auto;
}
.Paper:first-child {
  margin-top: 0;
}
.Paper:last-child {
  margin-bottom: 0;
}
/* Styles */
.Normal {
/* @parashape-id = 0*/
  margin: 0pt 0pt 0pt 0pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.5em;
}
.Normal > span {
  line-height: 1.5;
}
/* @charshape-id = 0*/
.Normal > span {
  color: #000000;
}
.Normal > span.lang-ko {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
.Normal > span.lang-en {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
.Normal > span.lang-cn {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
.Normal > span.lang-jp {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
.Normal > span.lang-other {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
.Normal > span.lang-symbol {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
.Normal > span.lang-user {
  font-family: "명조", serif;
  font-size: 10pt;
}
/* Paragraph attributes */
p.parashape-0 {
  margin: 0pt 0pt 0pt 0pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.5em;
}
p.parashape-0 > span {
  line-height: 1.5;
}
p.parashape-1 {
  margin: 0pt 0pt 0pt 0pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.5em;
}
p.parashape-1 > span {
  line-height: 1.5;
}
/* Text attributes */
span.charshape-0 {
  color: #000000;
}
span.charshape-0.lang-ko {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
span.charshape-0.lang-en {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
span.charshape-0.lang-cn {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
span.charshape-0.lang-jp {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
span.charshape-0.lang-other {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
span.charshape-0.lang-symbol {
  font-family: "한양신명조", serif;
  font-size: 10pt;
}
span.charshape-0.lang-user {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-1 {
  color: #000000;
  font-weight: bold;
}
span.charshape-1.lang-ko {
  font-family: "고딕", sans-serif;
  font-size: 15pt;
}
span.charshape-1.lang-en {
  font-family: "고딕", sans-serif;
  font-size: 15pt;
}
span.charshape-1.lang-cn {
  font-family: "명조", serif;
  font-size: 15pt;
}
span.charshape-1.lang-jp {
  font-family: "고딕", sans-serif;
  font-size: 15pt;
}
span.charshape-1.lang-other {
  font-family: "명조", serif;
  font-size: 15pt;
}
span.charshape-1.lang-symbol {
  font-family: "명조", serif;
  font-size: 15pt;
}
span.charshape-1.lang-user {
  font-family: "명조", serif;
  font-size: 15pt;
}
span.charshape-2 {
  color: #000000;
}
span.charshape-2.lang-ko {
  font-family: "고딕", sans-serif;
  font-size: 10pt;
}
span.charshape-2.lang-en {
  font-family: "고딕", sans-serif;
  font-size: 10pt;
}
span.charshape-2.lang-cn {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-2.lang-jp {
  font-family: "고딕", sans-serif;
  font-size: 10pt;
}
span.charshape-2.lang-other {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-2.lang-symbol {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-2.lang-user {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-3 {
  color: #000000;
}
span.charshape-3.lang-ko {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-3.lang-en {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-3.lang-cn {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-3.lang-jp {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-3.lang-other {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-3.lang-symbol {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-3.lang-user {
  font-family: "명조", serif;
  font-size: 10pt;
}
span.charshape-4 {
  color: #000000;
  font-weight: bold;
}
span.charshape-4.lang-ko {
  font-family: "한양신명조", serif;
  font-size: 12pt;
}
span.charshape-4.lang-en {
  font-family: "한양신명조", serif;
  font-size: 12pt;
}
span.charshape-4.lang-cn {
  font-family: "한양신명조", serif;
  font-size: 12pt;
}
span.charshape-4.lang-jp {
  font-family: "한양신명조", serif;
  font-size: 12pt;
}
span.charshape-4.lang-other {
  font-family: "한양신명조", serif;
  font-size: 12pt;
}
span.charshape-4.lang-symbol {
  font-family: "한양신명조", serif;
  font-size: 12pt;
}
span.charshape-4.lang-user {
  font-family: "명조", serif;
  font-size: 12pt;
}
